*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --primary-color: #F03C4E;
  --bf-color: #E3B02D;
  --soda-color: #FFDA47;
  --caldito-color: #C3E4B1;
  --sentimiento-color: #F6A2CA;
}
html,
body {
  height: 100%;
  font-size: 1.2rem;
}
h3,
p {
  margin: 0;
  margin-bottom: 1rem;
}
body {
  margin: 0;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  background-color: var(--primary-color);
}
figure {
  margin: 0;
  text-align: center;
}
figure h3 {
  color: white;
}
.fullcolor {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullcolor.sentimiento {
  background-color: var(--sentimiento-color);
}
.fullcolor.caldito {
  background-color: var(--caldito-color);
}
.fullcolor.soda {
  background-color: var(--soda-color);
}
.fullcolor.bf {
  background-color: var(--bf-color);
}
.fullcolor.ig {
  background: #833ab4;
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}
@media screen and (min-width: 420px) {
  .fullcolor {
    height: 100vh;
  }
  .fullcolor.caldito .container {
    display: flex;
    align-items: center;
  }
  .fullcolor.caldito .container .fitted {
    max-width: 420px;
  }
}
@media screen and (min-width: 960px) {
  .fullcolor.sentimiento .container figure img {
    width: 960px;
  }
}
.container {
  max-width: 800px;
}
.fitted {
  max-width: 90%;
  max-height: auto;
}
.padded {
  padding: 20px;
}
.push {
  margin-bottom: 20px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rounded {
  overflow: hidden;
  border-radius: 20px;
}
@media screen and (min-width: 420px) {
  .rounded {
    border-radius: 50px;
  }
}
.floating {
  -webkit-animation: floating 2s infinite ease-in-out;
          animation: floating 2s infinite ease-in-out;
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
