*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --primary-color: #F03C4E;
  --bf-color: #E3B02D;
  --soda-color: #FFDA47;
  --caldito-color: #C3E4B1;
  --sentimiento-color: #F6A2CA;
}
html,
body {
  height: 100%;
  font-size: 1.2rem;
}
h3,
p {
  margin: 0;
  margin-bottom: 1rem;
}
body {
  margin: 0;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  background-color: var(--primary-color);
}
svg {
  fill: currentColor;
}
figure {
  margin: 0;
  text-align: center;
}
figure h3 {
  color: white;
}
.modal summary {
  font-size: 2rem;
  cursor: pointer;
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}
.modal summary:hover {
  color: white;
}
.modal summary::-webkit-details-marker {
  display: none;
}
.modal[open] summary::before {
  inset: 0;
  content: '';
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: url('../images/ffn_camaron_mark.svg');
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  width: 90vw;
  inset: 0;
  margin: auto;
  overflow: auto;
  max-width: 1260px;
  max-height: 90vh;
  border-radius: 20px;
}
@media screen and (min-width: 960px) {
  .overlay {
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
.overlay > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 2rem;
}
.overlay > button i {
  font-size: 5rem;
}
hr {
  border: none;
  margin: 20px auto;
  width: 87%;
}
.mobile {
  font-size: 0.75rem;
}
@media screen and (min-width: 960px) {
  .mobile {
    gap: 5rem;
  }
}
.fullcolor {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullcolor.sentimiento {
  background-color: var(--sentimiento-color);
}
.fullcolor.caldito {
  background-color: var(--caldito-color);
}
.fullcolor.soda {
  background-color: var(--soda-color);
}
.fullcolor.ffn {
  height: 100vh;
}
.fullcolor.bf {
  background-color: var(--bf-color);
}
.fullcolor.ig {
  background: #833ab4;
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}
@media screen and (min-width: 520px) {
  .fullcolor {
    height: 100vh;
  }
  .fullcolor.caldito .container {
    display: flex;
    align-items: center;
  }
  .fullcolor.caldito .container .fitted {
    max-width: 420px;
  }
}
@media screen and (min-width: 960px) {
  .fullcolor.sentimiento .container figure img {
    width: 960px;
  }
}
.container {
  max-width: 800px;
}
.container a {
  color: white;
  text-decoration: none;
}
.fitted {
  max-width: 87%;
  max-height: auto;
}
.padded {
  padding: 20px;
}
.push {
  margin-bottom: 20px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 960px) {
  .flex {
    flex-direction: row;
  }
}
.gapped {
  gap: 20px;
}
.gapped.between {
  justify-content: space-between;
}
.rounded {
  overflow: hidden;
  border-radius: 20px;
}
@media screen and (min-width: 520px) {
  .rounded {
    border-radius: 50px;
  }
}
.floating {
  -webkit-animation: floating 2s infinite ease-in-out;
          animation: floating 2s infinite ease-in-out;
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
