//--
  ---
  title: Fermentos Finos del Nayar
  ---

extends lib/layouts/default

block body
  section.fullcolor.ffn
    figure.padded.flex
      image.fitted.floating(src='ffn_texto_borde.svg' title='FFN')

  include lib/partials/beerfest
  include lib/partials/instagram
  include lib/partials/caldito
  include lib/partials/sentimiento
  include lib/partials/soda