//--
  ---
  title: Fermentos Finos del Nayar
  ---

extends lib/layouts/default

block body
  section.fullcolor.ffn
    figure.padded.flex
      image.fitted.floating(src='ffn_texto_borde.svg' title='FFN')

  section.fullcolor.caldito
    .container
      .padded
        h3.alfa-slab-one-regular CALDITO DE CAMAR칍N DIPA
        p.satisfy-regular.
          Una cerveza intensa y tropical ideal para la playa con notas brillantes a mandarina, coco,
          resina de l칰pulo y frutas ex칩ticas.  Elaborada con trigo y avena  para obtener un final seco
          junto con un cuerpo limpio y suave que contrasta con sus potentes 8 grados de alcohol.
        p.oleo-script-regular Caja de 24 botellas: $1,400
      figure.push
        image.fitted(src='ffn_caldito_borde.svg' title='Caldito de Camar칩n')

  section.fullcolor.sentimiento
    .container
      .padded
        h3.alfa-slab-one-regular SENTIMIENTO PRECOZ IPA
        p.satisfy-regular.
          Cerveza de 7 grados de alcohol con notas a mango, naranja, duraznos y un toque de malta que se
          equilibra con el amargor pino y frutas tropicales. Elaborada con trigo para obtener un cuerpo suave.
        p.oleo-script-regular Caja de 24 botellas: $1,400
      figure.push
        image.fitted(src='ffn_spgroup_borde.svg' title='Sentimiento Precoz')

  section.fullcolor.soda
    .container
      .padded
        h3.alfa-slab-one-regular SODA DE L칔PULO
        p.satisfy-regular.
          Una mezcla de flores de l칰pulo con un toque de az칰car para alimentar la carbonataci칩n natural,
          combina un tenue amargor con una fina burbuja que resalta los aromas ex칩ticos propios del l칰pulo,
          destacan notas a mango, guayaba, litchi y un toque de resina de l칰pulo
          Refrescante, ligera y burbujeante 游붏游삖
        p.oleo-script-regular Caja de 24 botellas a $840
      figure.push
        image.fitted(src='ffn_camaron_stroke.svg' title='Soda de L칰pulo')

  section.fullcolor.ig
    .container.padded
      figure
        h3.alfa-slab-one-regular S칈GUENOS EN INSTAGRAM
        image.fitted.rounded(src='qr_ffn_ig.svg' title='@fermentosfinos')

  section.fullcolor.bf
    .container
      figure
        image.fitted.rounded(src='qr_layout.svg' title='Guadalajara Beer Festival')
