doctype html
html.no-js(lang='en')
  head
    meta(name='package' content=`${pkg.name} v${pkg.version}`)
    meta(name='revision' content=SOURCE_VERSION)
    base(href=(ROOT || '') + '/')

    include ../partials/head

    link(rel='preconnect' href='//fonts.googleapis.com')
    link(rel='preconnect' href='//fonts.gstatic.com' crossorigin)
    link(href='//fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Oleo+Script:wght@400;700&family=Satisfy&display=swap' rel='stylesheet')

    style.
      .alfa-slab-one-regular {
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
      }
      .satisfy-regular {
        font-family: "Satisfy", cursive;
        font-weight: 400;
        font-style: normal;
      }
      .oleo-script-regular {
        font-family: "Oleo Script", system-ui;
        font-weight: 400;
        font-style: normal;
      }

  body
    block body
      != yield

    block scripts
