section.fullcolor.bf
  .container.padded
    figure
      image.fitted(src='gdl_beer_fest.svg' title='Guadalajara Beer Festival')
    br
    details.modal(open)
      summary.alfa-slab-one-regular #[icon(src="#menu" size=48)] MENÚ
      .overlay
        h2.alfa-slab-one-regular MENÚ #[button(onclick="this.closest('details').open = false") &times;]
        .flex.between.mobile
          pre.
            Caldito de Camarón .............. $120
            Doble IPA
            8.5% ABV

            Sentimiento Precoz .............. $100
            IPA
            7% ABV

            Éxitos Humildes ................. $120
            Hazy IPA
            9% ABV

            Haz como que no me ves .......... $80
            Hoppy Lager
            4.9% ABV

            Finura Tropical ................. $100
            Smoothie Style Beer
            4.3% ABV
          pre.
            No se puede nadar dos veces en el
            mismo río ....................... $80
            American Wheat
            5.2% ABV

            Tónico Floral ................... $80
            Soda artesanal de lúpulo
            Sin Alc.

            Playera ......................... $300
            Vaso ............................ $250
            Vaso con Cerveza ................ $280

              * Caldito de Camarón y
                Éxitos Humildes ............. $320
        hr
        figure
          image.fitted(src='ffn_camaron_black.svg' title='Fermentos Finos del Nayar' width=260)
        br