section.fullcolor.caldito
  .container
    .padded
      h3.alfa-slab-one-regular CALDITO DE CAMARÓN DIPA
      p.satisfy-regular.
        Una cerveza intensa y tropical ideal para la playa con notas brillantes a mandarina, coco,
        resina de lúpulo y frutas exóticas.  Elaborada con trigo y avena  para obtener un final seco
        junto con un cuerpo limpio y suave que contrasta con sus potentes 8 grados de alcohol.
      //- p.oleo-script-regular Caja de 24 botellas: $1,400
    figure.push
      image.fitted(src='ffn_caldito_borde.svg' title='Caldito de Camarón')
