section.fullcolor.ig
  .container.padded
    figure
      h3.alfa-slab-one-regular SÍGUENOS EN INSTAGRAM
      image.fitted.rounded(src='qr_ffn_ig.svg' title='@fermentosfinosdelnayar')
      h4: a(href='//instagram.com/fermentosfinosdelnayar' target='_blank') @fermentosfinosdelnayar