section.fullcolor.sentimiento
  .container
    .padded
      h3.alfa-slab-one-regular SENTIMIENTO PRECOZ IPA
      p.satisfy-regular.
        Cerveza de 7 grados de alcohol con notas a mango, naranja, duraznos y un toque de malta que se
        equilibra con el amargor pino y frutas tropicales. Elaborada con trigo para obtener un cuerpo suave.
      //- p.oleo-script-regular Caja de 24 botellas: $1,400
    figure.push
      image.fitted(src='ffn_spgroup_borde.svg' title='Sentimiento Precoz')
